@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: black;
}

:root {
  --tamanho-header: 100px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 90%;
  margin: auto;
}

.header {
  height: 100px;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: white;
}

.agora {
  font-weight: 800;
}

.navbar {
  font-size: 1.2vw;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: white;
}

.titulo {
  color: rgba(221, 184, 17, 0.822);
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: 45vw;
  color: white;
  background-image: url('../assets/background\ pagina\ inicial.jpg');
  background-size: cover;

}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

/* MISSÃO VISÃO VALORES */

.social {
  background-color: black;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.social p {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FOOTER */

.footer {
  background-color: rgba(221, 184, 17, 0.822);
  height: 150px;
  color: #fff;
  display: flex;
  font-size: 15px;
}

.footer .container {
  justify-content: center;

}

.footer .container .version {
  font-size: 12px;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/background\ login\ e\ cadastro.jpg');
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* background: url('https://www.papeldeparede.etc.br/fotos/wp-content/uploads/a-luta-vai-comecar-.jpg');
  background-size: cover;
  background-position: center; */

.card {
  border: 2px solid rgba(221, 184, 17, 0.822);
  background: url('../assets/background\ bloco\ login\ e\ cadastro.png');
  background-size: cover;
  background-position: center;
  opacity: 80%;
  width: 25vw;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: gray;
  flex-direction: column;
  height: 70%;
  padding: 20px 0;
}

.card-login{
  border: 2px solid rgba(221, 184, 17, 0.822);
  background: url('../assets/background\ bloco\ login\ e\ cadastro.png');
  background-size: cover;
  background-position: center;
  opacity: 80%;
  width: 25vw;
  background-color: #e5e5e5;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: gray;
  flex-direction: column;
  height: 70%;
  padding: 20px 0;
  
}

.card-cadastro{
display: flex;
}



.textoCadastro{
  width: 14vw;
}

/* .botaoCadastrar{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 99%;
} */

.card h2 {
  margin: 0;
  font-size: 30px;
  justify-content: center;
  text-align: center;
}

.formulario {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.formulario img{
  width: 100%;
}

#imagemCadastro{
  width: 50%;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #32b9cd;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.formulario select {
  border: 2px solid #32b9cd;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 10px 0;
  width: 20vw;
}

.botao {

  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: gray;
  width: 20vw;
  height: 2.5vw;
  border-radius: 10px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.textoInicial {
  display: flex;
  justify-content: left;
  width: 30vw;
  line-height: 3vw;
  font-size: 2vw;
  border: 3px solid rgba(221, 184, 17, 0.822);
  border-radius: 20px;
  margin-right: 61.5vw;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}


input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}


#imagensSite {
      width: 400px;
      height: 300px;
      overflow: hidden;
      border-radius: 10px;
      margin: 50px auto;
      position: relative; /* importante pro absolute funcionar */
    }

#imagensSite img {
      width: 100%;
      height: 100%;
      position: absolute; /* empilha as imagens */
      top: 0;
      left: 0;
      opacity: 0; /* todas começam invisíveis */
      transition: opacity 1s ease-in-out; /* aqui vem o fade */
    }

.sobreMim{
  width: 60vw;
  font-size: 2vw;
  border: 3px solid rgba(221, 184, 17, 0.822);
  border-radius: 20px;
  line-height: 3vw;
  color: white;
}

.sobreMimPrincipal{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 4vw;
}

#imagensSite img.ativo {
      width: 100%;
      height: 100%;
      opacity: 1; /* só a imagem ativa aparece */
    }

.ativo2{
  left: 5vw;
  display: flex;
  color: white;


}

html{
  scroll-behavior: smooth;
}

.boxes h4{
  display: flex;
  justify-content: center;
  color: white;
  width: 80vw;
  font-size: 2vw;
}

.textoFilme{
  width: 50vw;
  font-size: 2vw;
  border: 3px solid rgba(221, 184, 17, 0.822);
  border-radius: 20px;
  line-height: 3vw;
  color: white;
}

.historiaPrincipal{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4vw;
}

.imagemHistoria img{
  width: 40vw;
  
}

.contatoInstagram{
  font-size: 1.3vw;
}

.contatoEmail{
  font-size: 1.3vw;
}

.textoFooter{
  justify-content: center;
  word-spacing: 0.2vw;
  width: 20vw;
  font-size: 1.2vw;
  flex-direction: column;
}







